.people-image {
    position: absolute;
    right: 10px;
    top: 5px;
}

.website-tite {
    text-align: center;
}

.website-tite h1 {
    font-size: 46px;
    letter-spacing: -2px;
    color: #002251;
    font-weight: 700;
    text-align: center;
}

.maiar-title {
    margin-bottom: 30px;
    font-size: 46px;
    letter-spacing: -2px;
    color: #002251;
    font-weight: 700;
    text-align: center;
}

.description-maiar {
    z-index: 99999;
    position: relative;
    font-weight: 300;
}

.people-image img {
    image-rendering: -webkit-optimize-contrast;
}

.maiar-logo {
    padding-bottom: 5rem !important;
}

.elrond-logo {
    font-weight: 600;
    display: flex;
    bottom: 30px;
    position: absolute;
    left: 30%;
    flex-direction: column;
    align-items: center;
}

.elrond-logo img {
    max-width: 220px;
}

.card-container {
    z-index: 999999;
    max-width: fit-content;
    margin: 0 auto;
}

.card-container .card {
    height: 21.0cm !important;
    width: 14.8cm !important;
}

.custom-message p {
    font-weight: 500;
}

.oval-left-container-light-green:after {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: #27ecbb23;
    top: -60px;
    left: 20px;
    z-index: 1;
}

.oval-left-container-red:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ec278934;
    right: 60px;
    bottom: 10px;
}

.oval-left-container-light-blue:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #22def74d;
    bottom: 60px;
    left: 20px;
    z-index: 1;
}

.qrcode {
    min-width: 158px;
    min-height: 158px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.qrcode-container {
    display: flex;
}

.qrcode-text {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 700;
    color: #002251;
    line-height: 1;
    display: flex;
    text-align: center;
    align-items: center;
}